    h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 3rem; 
     }
     body{
     background-image: url("background.jpg");
     } 

     label{
        color: white;
        font-size:2.3rem;
     }
     .btn{
        margin-top: 2rem;
        font-weight: bold;
     }

